.DS_Store
languages/c/infoDisplay/.vscode
languages/c/infoDisplay/a.out
languages/c/learning/typeSizes
languages/go/data_analysis/gota/hello_gota/output.csv
languages/go/data_analysis/gota/hello_gota/output.json
languages/go/wasm/hello_wasm/main.wasm
languages/go/wasm/more_wasm/main.wasm
languages/go/learning/fyne/animation/.idea
exercism/clojure/clojure-noob/.clj-kondo
exercism/clojure/clojure-noob/.lsp
languages/go/wasm/explore-front-end/static/main.wasm
languages/c/udemy/c_programming_2021/input_output/a.out
languages/c/udemy/c_programming_2021/exercises/power/a.out
