.DS_Store
languages/c/infoDisplay/.vscode
languages/c/infoDisplay/a.out
languages/c/learning/typeSizes
languages/go/data_analysis/gota/hello_gota/output.csv
languages/go/data_analysis/gota/hello_gota/output.json
languages/go/wasm/hello_wasm/main.wasm
languages/go/wasm/more_wasm/main.wasm
languages/go/learning/fyne/animation/.idea
exercism/clojure/clojure-noob/.clj-kondo
exercism/clojure/clojure-noob/.lsp
languages/go/wasm/explore-front-end/static/main.wasm
languages/c/udemy/c_programming_2021/input_output/a.out
languages/c/udemy/c_programming_2021/exercises/power/a.out
languages/go/courses/udemy/introduction_to_testing/section1/introduction/.vscode
languages/go/courses/udemy/introduction_to_testing/section3/primeapp/coverage.out
languages/go/courses/udemy/introduction_to_testing/section5/webapp/.idea
languages/zig/buildsystem/zig-cache
languages/zig/buildsystem/zig-out
languages/zig/simple/zig-cache
languages/zig/simple/zig-out
languages/kotlin/wasm/yellow/.gradle
languages/kotlin/wasm/yellow/.idea
languages/kotlin/wasm/yellow/build
languages/kotlin/wasm
languages/kotlin/desktop/SimpleCar/.idea
languages/kotlin/web/udemy/build_website_from_scratch/hello/.idea
languages/go/learning/ebitengine/stars/stars.wasm
languages/go/courses/udemy/build_with_fyne/goldie/.idea
languages/go/courses/udemy/build_with_fyne/goldie/gold.png
languages/go/experiments/wasm/inthebrowser/main.wasm
languages/go/experiments/wasm/hashing/static/main.wasm
languages/go/experiments/wasm/summing/add.wasm
languages/go/tinygo/lessons/hello_wasm/static/wasm.wasm
languages/go/learning/gorilla/mux_testing/.vscode
languages/go/learning/gio/kitchen_sink/main.wasm
languages/go/courses/udemy/build_with_fyne/goldie/repository/testdata/sql.db
languages/javascript/learning/threejs/hello/node_modules
languages/javascript/learning/threejs/base-threejs-project/src/shaders/lygia/
languages/javascript/learning/d3/learn_d3_book/typescript/logrocket/.parcel-cache
languages/javascript/learning/d3/learn_d3_book/typescript/logrocket/dist
languages/dart/flutter/codelabs/nextgenui/.dart_tool
languages/dart/flutter/codelabs/nextgenui/build
languages/dart/flutter/learning/full_stack_todo/.dart_tool
languages/dart/flutter/udemy/flutter_dart/todo_app/.dart_tool
languages/dart/flutter/udemy/flutter_dart/todo_app/build
languages/dart/flutter/udemy/flutter_dart/meals/.dart_tool
languages/dart/flutter/udemy/flutter_dart/meals/build
languages/dart/flutter/udemy/flutter_dart/meals/.flutter-plugins-dependencies
languages/dart/flutter/udemy/flutter_dart/meals/.flutter-plugins-dependencies
languages/dart/flutter/udemy/flutter_dart/meals/.vscode/settings.json
languages/dart/flutter/udemy/building_2d_flame/train_game/.vscode
languages/rust/experiments/fibonacci/fibonacci
languages/rust/experiments/wasm/walk-the-dog-ii/node_modules
languages/rust/experiments/wasm/walk-the-dog-ii/target
languages/rust/experiments/wasm/walk-the-dog-iii/node_modules
languages/rust/experiments/wasm/walk-the-dog-iii/target
