body {
    min-width: 800px;
}

#mainContent {
    display: grid;
    place-items: center center;
    width: 100%;
    height: 100%;
}

canvas {
    background-color: black;
}

footer {
    text-align: center;
}