.button_container {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_base {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    position: relative;
    color: white;
    width: 250px;
    height: 40px;
    margin: 5px 5px 50px 0px;
    border-radius: 10px;
    background: none;
    border: none;
    outline: none;
}

.button_base:before {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.button_base:hover {
    animation: squish 0.3s;
}

.button_base:hover:before {
    background: linear-gradient(to right, red, yellow, orange, red, orange);
    filter: url("#wave");
}


@keyframes squish {
    0% {
        transform: scaleY(1);
    }

    30% {
        transform: scaleY(1.25);
    }

    60% {
        transform: scaleY(1.5);
    }

    70% {
        transform: scaleY(1.25);
    }

    80% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(1);
    }

}